.App {
  text-align: center;
 
}
.App-header {
  width: 100%; /* prend toute la largeur */
  background-color: #282c34; /* couleur de fond */
  display: flex;
  align-items: center;
  justify-content: space-between; /* espace entre les éléments */
  padding: 0.5rem 1rem; /* padding uniforme */
  color: white;
}

.navbar {
  width: 100%; /* prend toute la largeur de son parent */
  display: flex;
  align-items: center;
  justify-content: space-between; /* espace entre le logo et la navigation */
}

.container-fluid {
  flex-grow: 1; /* permet au conteneur de remplir tout l'espace disponible */
  display: flex;
  justify-content: space-between;
  padding: 0; /* aucun padding pour utiliser toute la largeur */
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end; /* aligne les liens à droite */
}

.navbar-nav {
  display: flex;
  width: 100%; /* prend toute la largeur disponible */
  justify-content: flex-end; /* aligne les éléments à droite */
  list-style: none; /* enlève les puces */
  margin: 0; /* enlève les marges par défaut */
  padding-right: 10px; 
 
}

.nav-item {
  padding: 0 15px; /* espacement entre les liens */
}

.link {
  color: white; /* couleur du texte */
  text-decoration: none; /* enlève le soulignement */
}


.text {
  text-decoration: none;  
  color: black;
}
   
 



.App-footer {
 
  background-color: #f4f4f4;
}
.columns {
  display: flex; 
  align-items: flex-start;
  justify-content: space-around;
}
.footer-column {
 align-content: space-between; 
 text-align: left;
  padding: 10px;
}
.footer-column a {
  text-decoration: none;
}
.footer-bottom {
  background-color: black;
  color: white;
  text-align: center;
}
.footer-bottom a {
  text-decoration: none;
  color: white; 
}
.footer-column ul {
  list-style-type: none; 
  padding-left: 0; 
  text-align: left;
}
.footer-column li {
  position: relative; 
  margin-bottom: 10px; 
  padding-left: 20px; 
}
.footer-column li::before {
  content: '>'; 
  color: blue; 
  font-weight: bold;
  position: absolute; 
  left: 0; 
  top: 0; 
}
.social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-icons a {
  display: inline-block;
  background-color: black;
  padding: 10px; 
  border-radius: 50%; 
}

.social-icons a svg {
  font-size: 24px; 
  color: white; 
}





