.App {
  text-align: center;
 
}
.App-header {
  width: 100%; 
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 0.5rem 1rem; 
  color: white;
}

.navbar {
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.container-fluid {
  flex-grow: 1; 
  display: flex;
  justify-content: space-between;
  padding: 0; 
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end; 
}

.navbar-nav {
  display: flex;
  width: 100%; 
  justify-content: flex-end; 
  list-style: none; 
  margin: 0; 
  padding-right: 10px; 
 
}

.nav-item {
  padding: 0 15px; 
}

.link {
  color: white; 
  text-decoration: none; 
}


.text {
  text-decoration: none;  
  color: black;
}
   
.App-footer {
  background-color: #f4f4f4;
  padding: 20px 0;
}

#contact-info a, #useful-links a, #latest-projects a, #latest-posts a {
  text-decoration: none;
  color: black;
  text-align: left;
}


#contact-info ul, #useful-links ul, #latest-projects ul, #latest-posts ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

#contact-info li, #useful-links li, #latest-projects li, #latest-posts li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 60px;
  text-align: left;
}

#contact-info li::before, #useful-links li::before, #latest-projects li::before, #latest-posts li::before {
  content: '>';
  color: blue;
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 40px;
}

.social-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.social-icons a {
  display: inline-block;
  background-color: black;
  padding: 10px;
  border-radius: 30%; 
  
}

.social-icons a svg {
  font-size: 16px;
  color: white;
  
}

.columns {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around; 
}


.footer-column {
  flex: 1 1 250px; 
  padding: 10px;
}

.footer-bottom {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.footer-bottom a {
  text-decoration: none;
  color: white;
}
 #useful-links h4, #latest-projects h4, #latest-posts h4 {
  text-align: left;
  padding-left: 40px;
}
#contact-info {
  padding-left: 50px;
  text-align: left;
}
 
#back-to-top {
  position: fixed; 
  bottom: 20px; 
  left: 50%; 
  transform: translateX(-50%); 
  display: none; 
}

.custom-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}








